<!DOCTYPE html>
<html lang="en">

<head>
    {%- set layoutIcon = "/assets/images/icon/home.png" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "页面" }}</title>
    {% include "components/head-assets.njk" %}
    <!-- 引入官方按钮库 -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
    {% from "macros/button.njk" import button %}
    {% include "../components/header.njk" %}
    <article style="background: none;box-shadow: none;">
        <div align="center">
            <img src="https://count.getloli.com/@hjx-25pc1.github.io?name=hjx-25pc1.github.io&theme=miku&padding=7&offset=0&align=top&scale=1&pixelated=1&darkmode=auto"
                alt=":name">
            <p class="wiki-description">浏览量</p>
            <p>这个是<strong>25级计算机应用1班</strong>的班级网站，使用 <strong>Github</strong> 托管代码，使用 <strong>Github Pages</strong>
                部署静态页面。</p>
            <p>你可以浏览相关页面，来了解班级内容。</p>
            <p>当然，网站目前处于半完成状态，因此有些内容可能会随时变化，所以欢迎每次都回来看看。</p>
            <p>这个网站目前只有 <strong>2</strong> 个人在维护，因此如果你有能力的话，欢迎前往 <strong>Github</strong> 点个 <span
                    style="color:orange;font-weight:bold">Star</span> !</p>
            <p>有能力的话，欢迎贡献此项目，即使你不是班级成员~</p>
            <a class="github-button" href="https://github.com/hjx-25pc1/hjx-25pc1.github.io" data-icon="octicon-star"
                data-show-count="true" data-size="large" aria-label="Star hjx-25pc1/hjx-25pc1.github.io on GitHub">
                Star
            </a>
            <a class="github-button" href="https://github.com/hjx-25pc1/hjx-25pc1.github.io" data-icon="octicon-eye"
                data-show-count="true" data-size="large" aria-label="Watch hjx-25pc1/hjx-25pc1.github.io on GitHub">
                Watch
            </a>
            <a class="github-button" href="https://github.com/hjx-25pc1/hjx-25pc1.github.io/issues"
                data-icon="octicon-issue-opened" data-show-count="true" data-size="large"
                aria-label="Issue hjx-25pc1/hjx-25pc1.github.io on GitHub">
                Issue
            </a>
            <a class="github-button" href="https://github.com/hjx-25pc1" data-icon="octicon-person"
                data-show-count="true" data-size="large" aria-label="Follow @hjx-25pc1 on GitHub">
                Follow
            </a>
            <br>
            {{ button("fa-brands fa-github", "前往项目", "https://github.com/hjx-25pc1/hjx-25pc1.github.io") }}
        </div>
    </article>
    <article>
        {{ content | safe }}
    </article>
    {% include "components/footer.njk" %}
    <script type="module" src="{{ '/js/main.js' | url }}"></script>
</body>

</html>