<!DOCTYPE html>
<html lang="{{ lang or 'zh-CN' }}" dir="{{ dir or 'ltr' }}">

<head>
    {%- set layoutIcon = "/assets/images/icon/zone.png" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or ('common.page' | i18n) }}</title>
    {% include "components/head-assets.njk" %}
</head>

<body>
    {% from "macros/button.njk" import button %}
    {% include "../components/header.njk" %}
    <article>
        <h1>{{ title or ('zone.listTitle' | i18n) }}</h1>
        {% if author %}
        <p class="author">{{ 'common.author' | i18n }}: {{ author }}</p>
        {% endif %}
        {% if date %}
        <p class="author">{{ 'common.date' | i18n }}: {{ date | bjDate }}</p>
        {% endif %}
        {%- if description %}
        <p class="wiki-description">{{ description }}</p>
        {%- endif %}
    </article>
    <article>
        {{ content | safe }}
    </article>
    {% include "components/footer.njk" %}
    <script type="module" src="{{ '/script/main.js' | url }}"></script>
</body>

</html>
